.table {
    margin-top: 30px;
    border: 1px solid orange;
    width: 100%;
    padding: 0;
}

td {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
    border: 1px solid orange;
    text-align: center;
    color: orange;
}

th {
    padding-right: 20px;
    padding-left: 20px;
    margin: 0;
    color: orange;
}

tr button {
    padding-right: 7%;
    padding-left: 7%;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 2px;
}

input {
    background-color: black;
    border: 1px solid orange;
    color: orange;
    padding: 5px;
}

button {
    background-color: rgb(182, 182, 182);
    color: black;
    border: 1px solid orange;
    padding: 5px;
}

.empty {
    color: orange;
    margin-top: 10px;
    text-align: center;
}